@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    text-align:center;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: orange;
    height:52px;
}

#title {
    font-size:25px;
    margin-left:10px;
    font-family: open sans;
}

mat-toolbar a{
    color:white;
    font-family:open sans;
    text-decoration: none;
}

mat-toolbar a:hover{
    color:grey;
}

#about,#login{
    margin-right:30px;
}

#menu{
    margin-right:15px;
    background: orange;
    width:80px;
}

#dropDownItemBack{
    background: #FAD7A0;
}

#dropDownItem{
    height:40px;
}

#dropDownItem:hover{
    color:white;
    background: orange;
}