<!doctype html>
<html>
  <mat-toolbar>
    <a routerLink='' routerLinkActive='active' id='title'>{{title}}</a>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <a id='about' routerLink='/about' routerLinkActive='active'>About</a>
    <a id='login' routerLink='/login' routerLinkActive='active'>Login</a>
    <div ngbDropdown class="d-inline-block">
      <button class="form-control btn-outline" id='menu' ngbDropdownToggle>Menu</button>
      <div id='dropDownItemBack' ngbDropdownMenu>
        <button routerLink='/fandoms' routerLinkActive='active' id='dropDownItem' ngbDropdownItem>Fandoms</button>
        <button id='dropDownItem' ngbDropdownItem>Events</button>
        <button id='dropDownItem' ngbDropdownItem>Messaging</button>
        <button routerLink='/profile' routerLinkActive='active' id='dropDownItem' ngbDropdownItem>Profile</button>
      </div>
    </div>
  </mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>
</html>
