@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    text-align:center;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: orange;
    height:48px;
}

#title {
    font-size:25px;
    margin-left:10px;
    font-family: open sans;
}

mat-toolbar a{
    color:white;
    font-family:open sans;
    text-decoration: none;
}

mat-toolbar a:hover{
    color:grey;
}

#about, #login{
    margin-right:30px;
}

#menu{
    margin-right:20px;
    background: orange;
    width:70px;
    height:30px;
    color:white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: white;
}
#menu:hover{
    color:grey;
    border-color:grey
}

#notif{
    margin-right:15px;
    background: orange;
    color:white;
    width:30px;
    height:30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: white;
}
#notif:hover{
    color:grey;
    border-color:grey
}
.dropdown-toggle::after {
    display:none;
}

#dropDownItemBack{
    background: #FAD7A0;
}

#dropDownItem{
    height:40px;
}

#dropDownItem:hover{
    color:white;
    background: orange;
}

#friend{
    color:white
}
#friend:hover{
    color: grey;
}