<!doctype html>
<html>
  <mat-toolbar>
    <a routerLink='' routerLinkActive='active' id='title'>{{title}}</a>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <a id='about' routerLink='/about' routerLinkActive='active'>About</a>
    <a id='login' routerLink='/login' routerLinkActive='active'>Login</a>
    
    <div ngbDropdown class="d-inline-block">
      <button class="btn-outline" id='menu' ngbDropdownToggle>Menu</button>
      <div id='dropDownItemBack' ngbDropdownMenu>
        <button routerLink='/posts' id='dropDownItem' ngbDropdownItem>Posts Feed</button>
        <button id='dropDownItem' ngbDropdownItem>Fandoms</button>
        <button id='dropDownItem' ngbDropdownItem>Events</button>
        <button id='dropDownItem' ngbDropdownItem>Messaging</button>
        <button (click)="navig()" id='dropDownItem' ngbDropdownItem>Profile</button>
      </div>
    </div>

    <div *ngIf='isShow' ngbDropdown class="d-inline-block">
      <button class="btn-outline fa fa-bell" id='notif' ngbDropdownToggle><span style='font-size:10px'> {{numPendings}}</span></button>
      <div id='dropDownItemBack' ngbDropdownMenu>
        <p style='padding:10px' *ngFor="let item of pendingNames;">Friend Request from <a (click)='toUserProfile(item)' id='friend'>{{item}} </a><button class='btn-outline' (click)='addFriend(item)'>Accept</button></p>
      </div>
    </div>
  </mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>
</html>
