<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div class="row">
		<div class="col">
			<p style="text-align: center; font-size:20px">Edit profile</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p style="float: right">Password</p>
		</div>
		<div class="col">
			<input style='width:200px' id="password" #password>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Email</p>
		</div>
		<div class="col">
			<input style='width:200px' id="email" #email>

		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Bio</p>
		</div>
		<div class="col">
			<textarea style='width:200px' id="bio" #bio></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Age</p>
		</div>
		<div class="col">
			<input style='width:200px' id="age" type="number" min="0"
				oninput="validity.valid||(value='');" #age>

		</div>
	</div>
		<div class="row">
		<div class="col">
			<p style="float: right">ImageURL</p>
		</div>
		<div class="col">
			<input style='width:200px' id="image" #image>

		</div>
	</div>
	<div>
		<button mdbBtn color="info" #edit
			(click)="saveChanges(password.value, email.value, bio.value, age.value, image.value)" style="margin:0 auto; display:block;">save
			changes</button>
	</div>
</body>
</html>