#wrap {
	padding:3em 0 2em 0;
	/* text-align:center; */
	margin:0 auto 0 auto;
	width:80%;
}

p{
	font-size:15px;
}

textarea {
	border-radius:3px;
	border-color: #E5E7E9 ;
	outline: none;
	width: 300px;
	resize:none;
	margin: 0 0 15px 0;
}

.column{
	margin-left:20px;
}

.list-group{
	width:300px;
}

.list-group-item{
	border-color:#E5E7E9;
}

button {
	font-size:11px;
}

#color1{
	color:#F5B041;
}

#friendButton{
	margin: 0 0 15px 42px
}