<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div id='wrap'>
	<div class='row'>
		<div class='column'>
			<p><img src="https://via.placeholder.com/100.jpg" alt="John" style="width:50%;border-radius:50%"></p>
			<div #friend></div>
			<!-- <p><img [src]="imagelink" alt="John" style="width:50%;border-radius:50%;max-width:100px;max-height:100px;"></p> -->
			<div><span id='color1'>Username:</span> {{username}}</div>
			<div><span id='color1'>Email:</span> {{email}}</div>
			<p></p>
			<div id='color1'>Bio</div>
			<div>
				<a id='edit-bio' class="glyphicon glyphicon-edit" (click)="editBio(biotext, save)"></a>
			</div>
			<textarea id='bio' #biotext type="text" readonly></textarea>

			<div><span id='color1'>Age:</span> {{age}}</div>
			<p></p>
			<div><span id='color1'>Interests:</span> </div>
			<p></p>
		</div>

		<div class='column'>
			<div><span id='color1'>Fandom Subscriptions</span>
				<a id='edit-bio' class="glyphicon glyphicon-edit"></a>
			</div>
		
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">fandom 1</a> 
				<a href="#" class="list-group-item list-group-item-action">fandom 2</a> 
				<a href="#" class="list-group-item list-group-item-action">fandom 3</a>
			</div>
			<p></p>
			<div><span id='color1'>Groups</span>
				<a id='edit-bio' class="glyphicon glyphicon-edit"></a>
			</div>
		
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">group 1</a> 
				<a href="#" class="list-group-item list-group-item-action">group 2</a> 
				<a href="#" class="list-group-item list-group-item-action">group 3</a>
			</div>
			<p></p>
		</div>

		<div class='column'>
			<div><span id='color1'>Friends</span>
				<a id='edit-bio' class="glyphicon glyphicon-edit"></a>
			</div>
		
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">friend 1</a> 
				<a href="#" class="list-group-item list-group-item-action">friend 2</a> 
				<a href="#" class="list-group-item list-group-item-action">friend 3</a>
			</div>
			<p></p>
		</div>

	</div>

	<hr>
	<div style='float:left'>
		<button mdbBtn color="info" #edit (click)="settings()">profile settings</button>
	</div>
	<div style='float:right'>
		<button mdbBtn color="info" #edit (click)="redirectToEditProfile()">edit profile</button>
		<button mdbBtn color="info" #save (click)="save()">save changes</button>
	</div>		
	<br><br>
</div>

	