
<!doctype html>
  <mat-toolbar>
    <a routerLink='' routerLinkActive='active' id='title'>Fanlinc</a>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <a id='about' routerLink='/about' routerLinkActive='active'>About</a>
    <a id='login' routerLink='/login' routerLinkActive='active'>Login</a>
    <a id='menu' routerLink='/login' routerLinkActive='active'>Menu</a>
  </mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>