<body>
<!-- <div id='wrap'> -->
<h2>Forums</h2>

<div class='row'>
    <div style='width:70%' class='column'>
        <div id='post-box' class='row'>
            <div class='column' style='width:10%;text-align: center;'>
                <img src="https://via.placeholder.com/100.jpg" alt="user" style="width:60px;border-radius: 50%;">
                <hr style='width:50px;margin:10px auto 5px auto;'>
                <div style='font-size:13px;'>username</div>
            </div>
            <div class='column' style='width:80%; margin-left:20px;padding:0 10px 0 10px'>
                <div style='font-size:13px;margin-top:-10px;color:#A6ACAF;text-align: left;'>
                    /category
                    <div style='float:right'>posted on: dd/mm/yyy</div>
                </div>
                <h4><b>Title</b></h4>
                <div style='margin-bottom: 10px;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                <div ngbDropdown class="footer d-inline-block">
                <button class="btn-outline" id='comments' ngbDropdownToggle>comments</button>
                <div id='dropDownItemBack' style='width:500px' ngbDropdownMenu>
                    <div style='font-size:14px' [disabled]='true' ngbDropdownItem>
                        <div>comment1</div>
                        <div style='text-align: right;'>posted on:</div>
                    </div>
                </div>
                </div>
            </div>
            <div class='column' style='margin:-5px 0 -5px 0;width:1px;background: #E5E7E9;'></div>
            <div class='column' style='margin:auto auto auto auto'>
                <div class='arrow-up'></div>
                <p style='text-align: center;'>0</p>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>

    <div style='float:right;padding:10px;width:30%;background: white;' class='column'>
        Sort by:
        <div style='margin-left:-10px;'>
        <div style='margin-left:10px' ngbDropdown class="d-inline-block">
        <button class="form-control btn-outline" id='category-filter' ngbDropdownToggle>Category</button>
        <input id='dropDownItemBack' placeholder='category' ngbDropdownMenu>
        </div>

        <div style='margin-left:10px' ngbDropdown class="d-inline-block">
        <button class="form-control btn-outline" id='pop-filter' ngbDropdownToggle>Popularity</button>
        <input id='dropDownItemBack' placeholder='category' ngbDropdownMenu>
        </div>

        <div style='margin-left:10px' ngbDropdown class="d-inline-block">
        <button class="form-control btn-outline" id='recent-filter' ngbDropdownToggle>Most Recent</button>
        <input id='dropDownItemBack' placeholder='category' ngbDropdownMenu>
        </div>
        </div>

        <br><br>
        <button class="btn-outline" type='submit' id='apply'>Apply</button>
    </div>

    
</div>
<!-- </div> -->
</body>
