body{
    height:100vh;
    background: #EAEDED;
    padding:1em 10% 0 10%;   
}

#post-box{
    width:95%;
    background:white;
    padding:15px 0px 15px 15px;
}

/* #box-header{
    width:100%;
    background:#EDBB99;
    padding:.5em;
    border-radius:5px;
} */

#box-content{
    padding-left:.5em;
}

#dropDownItemBack{
    padding-left:5px;
}

#pop-filter,#category-filter,#recent-filter{
    margin: 10px 0 0 0;
}

#comments{
    margin-top:5px;
    font-size:14px;
    border:none;
    background: #EAEDED;
}

#apply{
    border-radius: 4px;
    color:white;
    border:none;
    background:#5DADE2;
    padding:0 5px 5px 5px;
}
#apply:hover{
    background: #2E86C1;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #D7DBDD;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #D7DBDD;
    margin-top:-65%;
}

.arrow-up:hover {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #909497;
}

.arrow-down:hover {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #909497;
    margin-top:-10px;
}