body{
    background: #F5CBA7;
    height: 100vh;
    padding: 1em 0 0 0 
}
#wrapper{
    margin: 2em auto 0 auto;
    padding: 12px 20px 12px 20px;
    width:70%;
    height: 80%;
    background:white;
}
#admin{
    color:#F5CBA7;
}
#admin:hover{
    color:grey;
}