<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<body>
    <div id='wrapper'>
        <div style='height:50px;text-align:left'>
            <span style='font-size:30px;font-weight:bold'>{{name}} Fandom</span>
            <span style='float:right; text-align: left;'>
                <span style='margin:11px 0 0 0'><button id='subsB' (click)="subscribe()">follow</button></span>
                <span style='float:right'><button id='deleteB' class='fa fa-trash' (click)="deleteFandom()"></button></span>
            </span>
        </div>
        
        <div>admin: <a id='admin' (click)='toUserProfile(admin)'>{{admin}}</a></div>
        <div>description: {{desc}}</div>
        <div>followers: {{subcount}}</div>
    </div>
</body>