body{
    background: #EAEDED;
    padding: 0 0 2em 0 
}
#banner{
    width:100%;
    height:300px;
    /* display:block; */
}
#wrapper{
    margin: 0 auto 2em auto;
    width:70%;
    background:white;
}
#wrapper1{
    padding: 12px 23px 12px 23px;
    height:90%;
}
#admin{
    color:#F5B041;
}
#admin:hover{
    color:grey;
}
#subsB{
    color:white;
    border-radius:4px;
    background:#F5B041;
    border-color:#F5B041;
    border-style:solid;  
    height:28px;
    font-size:14px
}
#subsB:hover, #deleteB:hover, #editB:hover{
    color:grey
}
#deleteB, #editB{
    color:white;
    border-radius:4px;
    background:#F5B041;
    border-color:#F5B041;
    border-style:solid;  
    height:28px;
    width:28px;
    font-size:16px;
    margin:0 0 0 11px
}