body{
    background: #F5CBA7;
    height: 100vh;
    padding: .8em 0 0 0 
}
#wrapper{
    margin: 2em auto 0 auto;
    padding: 12px 23px 12px 23px;
    width:70%;
    height:88%;
    background:white;
}
#admin{
    color:orange;
}
#admin:hover{
    color:grey;
}
#subsB{
    color:white;
    border-radius:4px;
    background:orange;
    border-color:orange;
    border-style:solid;  
    height:28px;
    font-size:14px
}
#subsB:hover, #deleteB:hover, #editB:hover{
    color:grey
}
#deleteB, #editB{
    color:white;
    border-radius:4px;
    background:orange;
    border-color:orange;
    border-style:solid;  
    height:28px;
    width:28px;
    font-size:16px;
    margin:0 0 0 11px
}